bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
*.DotSettings.user
Libs/
*.vsidx
.vs/NoDoubleTapSprint/v17/.suo
.vs/NoDoubleTapSprint/v17/DocumentLayout.backup.json
.vs/NoDoubleTapSprint/v17/DocumentLayout.json
